<div class="container">
  <h2>Изменить Пользователя</h2>
  <form (ngSubmit)="saveChanges()" #editUserForm="ngForm">
    <div class="form-group">
      <label for="name">Имя:</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name" required>
    </div>

    <div class="form-group">
      <label for="email">Почта:</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" required>
    </div>

    <div class="form-group">
      <label for="password">Пароль:</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required>
    </div>

    <button type="submit" class="btn btn-primary" style="margin-top: 15px">Изменить</button>
    <a routerLink="/user-list" class="btn btn-secondary" style="margin-top: 15px; margin-left: 15px">Отмена</a>
  </form>
</div>
